<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="gestor-movimientos">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="row">
                <h1>Movimientos</h1>
                <button on-click="obtenerMovimientos" type="button" class="btn btn-success" name="button">Obtener
                    Clientes</button>
                <button on-click="anadirCliente" type="button" class="btn btn-warning" name="button">Añadir
                            Cliente</button>
                <div class="col-xs-12">
                    <template is="dom-if" if="{{isClientes}}">
                        <table class="table table-striped">
                            <thead>
                                <th>Num</th>
                                <th>Id Client</th>
                                <th>Name</th>
                                <th>Lastname</th>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{clientes}}">
                                    <tr>
                                        <td>{{index}}</td>
                                        <td>{{item.idcliente}}</td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.apellido}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </template>
                </div>
            </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MovimientosComponent extends Polymer.Element {
            static get is() { return 'gestor-movimientos'; }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        value: function () {
                            return [];
                        },
                        notify: true
                    },
                    isClientes: {
                        type: Boolean,
                        computed: 'computeClientes(clientes)'
                    },
                    respuesta: {
                        type: String,
                        value: ''
                    }
                };
            }
            obtenerMovimientos() {
                const url = "http://localhost:3011/movimiento";
                var request = new XMLHttpRequest();
                request.open("GET", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                this.clientes = JSON.parse(request.responseText);
            }
            computeClientes(clientes) {
                return clientes.length > 0;
            }
        }

        window.customElements.define(MovimientosComponent.is, MovimientosComponent);
    </script>
</dom-module>