<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <img clas="col-sm-8 col-xs-12" src="https://image.flaticon.com/icons/png/128/1760/1760759.png"/>
        </div>
        <div class="row">
            <button type="button" on-click="incrementar" class="btn btn-success col-sm-4 col-xs-12">Click</button>
            <div>
              <h3>prop2 : [[prop2]]</h3>
              <input name="prop1" placeholder="[[prop3]]" value="{{prop1::input}}"/>
              <input name="prop2" value="{{prop2::input}}"/>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped col-xs-12">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lastname</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Selena</td>
                        <td>Mora</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Maria</td>    
                        <td>Torres</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorComponent extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 989
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2++;        
      }
    }

    window.customElements.define(MiVisorComponent.is, MiVisorComponent);
  </script>
</dom-module>
